.contactForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  position: relative;
  background-color: var(--color-seashell);
  border: 2px solid rgb(217, 217, 217);
  width: 320px;
  background-image: url(../assets/images/bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  border-radius: 0px;
  border: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  box-sizing: border-box;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.closeBtn svg {
  fill: var(--color-american-blue);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-american-blue);
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup div {
  margin-bottom: 20px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.formGroup div label,
.formGroup div input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  border: none;
  color: var(--color-american-blue);
  background: transparent;
  margin: 0;
  font-family: inherit;
}

.formGroup div input::placeholder {
  color: rgba(58, 57, 103, 0.5);
}

.formGroup div label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: rgba(58, 57, 103, 0.3);
}

.formGroup div input {
  z-index: 2;
  border: 1px solid hsl(41, 37%, 80%);
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
}

.formGroup div input:focus {
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submitBtn {
  width: 100%;
  padding: 10px;
  background-color: var(--color-american-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  border: 1px solid rgb(222, 210, 184);
}

.submitBtn:hover {
  background-color: var(--color-yellow-orange);
}
